
    </main>
    <footer> 
    <div class="card mb-3">
        <img src="../imagenes/fon2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                <small class="text-muted">copyright: {{autor}} - {{year}}</small>
            </p>
        </div>
    </div>
    </footer>
</body>
</html>