{{>header}}
    <h1>Nombre</h1>
    <footer>
        <center>
            <h2>Creado por SOFIA CHACON HOLGUIN</h2>
        </center>

    </footer>
    <br>
    <footer>
        <center>
            <h2>4E</h2>
        </center>
    </footer>
    <a href="/">REGRESAR INICIO</a>
</body>

</html>

